div.film-detail {
    border: 1em solid green;
}

div.film-object {
    width: 100%;
    margin: 10px;
}
div.film-object h2 {
    padding-left: 30px;
    text-decoration: underline rgb(255, 145, 0);
    margin:auto;
    font-size: 4em;
}
div.film-object p.film-year {
    color: crimson;
    font-size: 1.5em;
}
div.people-list {
    list-style: none;
    padding: 10px;
    margin: auto;
}