<div class="film-detail" xmlns:style="http://www.w3.org/1999/xhtml">
  <p>film-detail</p>
  <div class="film-object" *ngIf="film">
    <hr/>
    <h2>{{ film.title | uppercase }} Details</h2>
    <div>
      <p>{{film.year}}</p>
      <p>{{film.description}}</p>
      <div class="people-list"></div>
      <hr/>
      <ul class="list-group">
        <li
          *ngFor="let person of film.peopleList"
          class="list-group-item"
        >
          <a [routerLink]="" (click)="alert(person.id)">
            {{ person.id }}
            {{ person.firstName }}
            {{ person.lastName }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
