<div class="film-item">
  <p>film-item</p>
  <p>
  {{test}}
</p>
<div>
  <ul class="films">
    <li *ngFor="let film of films">
      <a class="film-item" routerLink="/film/{{film.filmId}}">
      <span><b>{{film.title}}</b> - {{film.year}}</span>
      <span><i>{{film.description}}</i></span>
      <span>{{film.description}}</span>
      <td>
        <button type="button" (click)="loadFilmToEdit(film.filmId)">Edit</button>
      </td>
      <td>
        <button type="button" (click)="deleteFilm(film.filmId)">Delete</button>
      </td>
          <hr />
              </a>
    </li>
  </ul>
</div>
</div>
