div.film-item {
    border: 1em black solid;
}
.selected {
    background-color: bisque;
    color: brown;
}
.films {
    background-color: aquamarine;
    list-style: none;
    width: 20em;
}
.films li {
    cursor: pointer;
    position: relative;
    background-color: tan;
}
a.film-item {
    text-decoration: none;
}