<div>

    <h3 *ngIf="isCommentsExist()"><span translate="comments.commentsExistsInfo"></span></h3>
    <h3 *ngIf="!isCommentsExist()"><span translate="comments.commentsNotExistsInfo"></span></h3>
    <div *ngIf="userService.isAuthenticated()">
        <button (click)="addComment()">Dodaj komentarz</button>
    </div>
    <div *ngIf="this.showAddComment">
        <app-comment [objectToComment]=this.film.filmId [objectType]="'FILM'">This is test</app-comment>
    </div>
    <li class="list-group-item" *ngFor="let comment of comments">
        <div>
            <a
                    class="list-group-item list-group-item-action"
            >
                <span *ngIf="comment.user != null">User: <b>{{ comment.user.username }}</b></span>
                <h5>Title: <i><b>{{ comment.title }}</b></i></h5>
                <hr/>
                <p>Descr: {{ comment.text }}</p>
            </a>
            <!--            <div *ngIf="getShowDetail()">-->
            <!--                <app-comment-detail [comment] = this.comment></app-comment-detail>-->
            <!--            </div>-->
        </div>
    </li>
</div>
