<div>
    <h3 *ngIf="isCommentsExist()"><span translate="comments.commentsExistsInfo"></span></h3>
    <h3 *ngIf="!isCommentsExist()"><span translate="comments.commentsNotExistsInfo"></span></h3>
    <div class="comment-buttons" *ngIf="userService.isAuthenticated()">
        <button class="btn btn-success" (click)="addComment()">
            <span *ngIf="!this.showAddComment" translate>comments.addCommentToObject</span>
            <span *ngIf="this.showAddComment" translate>buttons.cancel</span>
        </button>
        <span></span>
    </div>
    <div *ngIf="this.showAddComment">
        <app-comment (commentAdded)="getCommentAdded($event)" [objectToComment]=this.film.filmId [objectType]="'FILM'">
            This is test
        </app-comment>
    </div>
    <li class="list-group-item" *ngFor="let comment of comments">
        <div>
            <a
                    class="list-group-item list-group-item-action"
            >
                <span *ngIf="comment.user != null">User: <b>{{ comment.user.username }}</b></span>
                <h5>Title: <i><b>{{ comment.title }}</b></i></h5>
                <hr/>
                <p>Descr: {{ comment.text }}</p>
            </a>
            <!--            <div *ngIf="getShowDetail()">-->
            <!--                <app-comment-detail [comment] = this.comment></app-comment-detail>-->
            <!--            </div>-->
        </div>
    </li>
</div>
