<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav >
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li role="presentation">
        <a class="nav-link" routerLink="/films">Films</a>
      </li>
      <li role="presentation">
        <a class="nav-link" routerLink="/person">People</a>
      </li>
      <li role="presentation" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/films/new">Add new film</a>
      </li>
      <ul class="nav nav-pills navbar-right">
        <li role="presentation">
          <a class="nav-link" *ngIf="!authenticated" routerLink="/login">Login</a>
          <a class="nav-link" *ngIf="authenticated" href="#" (click)="doLogout()">Logout</a>
        </li>
      </ul>
    </ul>
  </div>
  <hr/>
</nav>
<router-outlet></router-outlet>

