<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1 translate>title</h1>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li class="nav-item" role="presentation">
                <a routerLink="/dashboard" translate>menu.dashboard</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" routerLink="/films" translate>menu.films</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" routerLink="/person" translate>menu.people</a>
            </li>
            <li class="nav-item" role="presentation" *ngIf="isAdmin">
                <a class="nav-link" routerLink="/films/new" translate>menu.addFilm</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" routerLink="/admin" translate>menu.admin</a>
            </li>
            <ul class="nav nav-pills navbar-right">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" *ngIf="!authenticated" routerLink="/login" translate>menu.login</a>
                    <a class="nav-link" *ngIf="authenticated" href="#" (click)="doLogout()" translate>menu.logout</a>
                </li>
            </ul>
            <div class="nav navbar-right">
                <button type="button" class="btn btn-info" (click)="useLanguage('en')">en</button>
                <button type="button" class="btn btn-info" (click)="useLanguage('pl')">pl</button>
            </div>
        </ul>
    </div>
</nav>
<alert></alert>
<router-outlet></router-outlet>

