<div>
  <!--<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">-->
  <!--<div class="form-group">-->

  <!--<label for="title" class="center-block">Title:</label>-->
  <!--<input id="title" class="form-control" formControlName="title" required>-->

  <!--<label for="comment" class="center-block">Title:</label>-->
  <!--<textarea id="comment" class="form-control" formControlName="text"></textarea>-->

  <!--<button class="btn btn-primary" [disabled]="!commentForm.valid">Comment</button>-->
  <!--</div>-->
  <!--</form>-->
  <div>
    <h5>{{ comment.title }}</h5>
    <p>{{ comment.text }}</p>
    <span>{{ comment.userId }}</span>
    <li *ngFor="let com of comment.subComments">
      <div *ngIf="com!==undefined" style="margin-left: 20px">
        <h5>{{ com.title }}</h5>
        <p>{{ com.text }}</p>
        <span>{{ com.userId }}</span>
      </div>
    </li>
  </div>
</div>
