<form (ngSubmit)="onSubmit()" [formGroup]="filmForm" novalidate>
        <h4>Secret Lair</h4>
        <div class="form-group">
            <label class="center-block">title:
                <input class="form-control" formControlName="title">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">year:
                <input class="form-control" formControlName="year">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">description:
                <input class="form-control" formControlName="description">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">Add actor:
                <input #box (keyup)="onKey(box.value)" class="form-control" formControlName="actor">        
            </label>
        </div>
        <div class="form-row">
            <button type="submit">Save</button>
        </div>
</form>
