<div class="film-detail">
<p>film-detail</p>
<div class="film-object" *ngIf="film">
  <hr />
  <h2>{{ film.title | uppercase }} Details</h2>
    <p>{{film.year}}</p>
    <p>{{film.description}}</p>
    <div class="people-list"></div>
    <li *ngFor="let person of film.peopleList">
      <span>{{person.firstName}}</span>
      <span>{{person.lastName}}</span>
    </li>
</div>
<!--if user log in and have credentials -->
<button [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</button>
<div class="hero-details">
</div>
</div>

<div class="film-detail">
  <p>film-detail</p>
  <div *ngIf="film">
    <hr />
    <h2>{{ film.title | uppercase }} Details</h2>
    <div>
      <span>id: </span>{{film.id}}</div>
    <div>
      <label>title:
        <input [(ngModel)]="film.title" placeholder="title">
      </label>
      <br />
      <label>year
        <input [(ngModel)]="film.year" placeholder="year">
      </label>
      <label>
        <input [(ngModel)]="film.description" placeholder="descr">
      </label>
    </div>
  </div>
  <!--if user log in and have credentials -->
  <button onclick="">add new film</button>
  <div class="hero-details">
  </div>
</div>