<div class="container">

  <form *ngIf="!isLoaded" [formGroup]="filmForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="title" class="center-block">Title:</label>
      <input id="title" class="form-control" formControlName="title" required>
      <div
        *ngIf="this.filmForm.get('title').invalid && (this.filmForm.get('title').dirty || this.filmForm.get('title').touched)"
        class="alert alert-danger">
                    <span *ngIf="this.filmForm.get('title').errors.required">
                        Name is required.
                    </span>
        <span *ngIf="this.filmForm.get('title').errors.minlength">
                        Minimal title lenght is {{ titleLength }}
                    </span>
      </div>
    </div>

    <div class="form-group">
      <label class="center-block">Year:
        <input class="form-control" formControlName="year">
      </label>
    </div>

    <div class="form-group">
      <label class="center-block">Description:
        <input class="form-control" formControlName="description">
      </label>
    </div>

    <div class="form-group">
      <div *ngIf="film !== undefined">
        <ul *ngFor="let person of film.peopleList"
            class="list-group-item-info">
          <li><strong>{{ person.role }}:</strong> {{ person.firstName }} <strong> {{ person.lastName }}</strong> <span
            (click)="onRemoveActor(person.id)"
            class="glyphicon glyphicon-minus"></span>
          </li>
        </ul>
      </div>
    </div>

    <form [formGroup]="peopleToAdd">
      <!--<div formGroupName="peopleList">-->
      <div>
        <h4>Actors</h4>
        <!--<div class="form-group" *ngFor="let person of this.peopleToAdd.get('people').controls; let i = index">-->
        <!--<input type="text" class="form-control" [formControlName]="i" (keyup)="onFindPerson()"/>-->
        <!--</div>-->
        <input type="text" class="form-control" formControlName="person" #a (keyup)="onFindPerson(a)">

        <div class="form-group" *ngFor="let person of this.found">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary" (click)="onAddPerson(person, roleValue)">{{ person.firstName }} {{ person.lastName }}
              <!--<select [(ngModel)]="roleValue" (ngModelChange)="onChange(person, $event)">-->
              <!--(ngModelChange)="onchange(person, $event)">-->
              <!--<select *ngFor="let role of options" [ngValue]="role">{{role}}</select>-->
              <!--</select>-->
              <!--<select (onChange)="onSelectRole(role)">-->
                <!--<option [ngValue]="roleValue" *ngFor="let role of person.role">-->
                  <!--{{role}}-->
                <!--</option>-->
              <!--</select>-->
            </li>
          </ul>
        </div>
      </div>
      <!--</div>-->
    </form><!-- peopleAdd -->

    <div class="form-row">
      <button class="btn btn-primary" [disabled]="!filmForm.valid" type="submit">Save</button>
      <button class="btn btn-danger" (click)="resetForm()">Reset</button>
      <button class="btn btn-secondary" (click)="onEditCancel()">Cancel</button>
    </div>
    <p>Form status: {{filmForm.status | json}}</p>

  </form>

</div>
